<div>
  <button (click)="retry()">{{startButtonText}}</button>
  <button (click)="stop()">Stop</button>
</div>
<div *ngIf="questionList.length > 0 && questionIndex < questionList.length">
  <p>question-card works!</p>
  <img [src]="baseUrl+questionList[questionIndex].imageUrl" alt='{{questionList[questionIndex].questionText}}'/>
  <h1>
    {{ questionList[questionIndex].questionText }}
  </h1>
  <div>
    <label 
      *ngFor="let option of questionList[questionIndex].options let index = index"
    >
      <input
        type="checkbox"
        [ngModel]="optionIndex == index"
        (change)="changeSelection($event, index)"
      />
      {{ option.optionText }}
    </label>
    <div >
      <button (click)="submitAnswer()">Submit</button>
    </div>
   
  </div>
</div>
